body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2f855a;
  color: white;
  padding: 10px 20px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* main {
  border: none !important;
} */

form {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
  margin-bottom: 20px;
}

input,
textarea,
button {
  padding: 10px;
  font-size: 1rem;
}

#productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
