*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 5%;
  background-image: url("agriTradeLogo1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: conver;
  height: 100vh;
  overflow-y: hidden;
}

.signIn-form {
  width: 70%;
  height: 80%;
  padding: 20px;
  display: block;
  margin: 10% auto 0;
  /* margin-top: 10%; */
  /* border: 3px solid; */
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
}
#signinForm {
  /* display: block; */
  margin: 20px auto;
  width: 90%;
  /* border: 3px solid; */
}
/* #username, */
#email,
#password {
  margin: 18px;
  padding: 20px;
  display: block;
  margin: auto;
  width: 80%;
  border: none;
  border-radius: 20px;
  font-size: 20px;
}
.dont-have-account {
  display: block;
}
@media (max-width: 949px) {
  body {
    margin: 0 2%;
  }
  .signIn-form {
    position: absolute;
    width: 90%;
    height: 80%;
    padding: 10px;
    margin: auto;
    top: 20%;
  }
}
